#Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cryptoviz
DB_USER=cryptoviz_user
DB_PASSWORD=TON_MDP_ENCULER
#Data Source
SOURCE_NAME=coingecko
SOURCE_BASE_URL=https://api.coingecko.com
FETCH_VS_CURRENCY=usd
FETCH_PRICE_CHANGE_WINDOWS=24h,7d
FETCH_PER_PAGE=250
FETCH_MAX_PAGES=4

#Parcer Settings
RATE_LIMIT_QPS=3
REQUEST_TIMEOUT_SEC=20
RETRY_MAX=3
RETRY_BACKOFF_BASE_MS=500
RETRY_BACKOFF_JITTER_MS=250

#Flux Settings
INGEST_LIMIT_TOP_N=500
INGEST_MIN_MARKET_CAP_USD=
INGEST_INCLUDE_STABLECOINS=true

#Logs info
TIMEZONE=UTC
CAPTURED_AT_SOURCE_TZ=UTC
LOG_LEVEL=INFO
LOG_TO_FILE=false
LOG_FILE_PATH=logs/scraper.log

#RABBITMQ CONFIG

RMQ_PROTOCOL=amqps
RMQ_HOST=whale.rmq.cloudamqp.com
RMQ_PORT=5671
RMQ_USER=unundxql
RMQ_PASSWORD=**********
RMQ_VHOST=unundxql

RMQ_EXCHANGE=crypto_exchange
RMQ_QUEUE=crypto_data_q
RMQ_ROUTING_KEY=crypto_data